<a href="https://colab.research.google.com/github/LuisFTacla/WDW_Attendance_Calculator/blob/main/Plots_diarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# IMPORTANDO BIBLIOTECAS
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.interpolate as interpolate
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

# LENDO URI
uri_01 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Splash_Mountain.csv'
uri_02 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Pirates_of_Caribbean.csv'
uri_03 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Seven_Dwarfs_Mine_Train.csv'
uri_04 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Soarin.csv'
uri_05 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Spaceship_Earth.csv'
uri_06 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Rock_n_Roller_Coaster.csv'
uri_07 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Toy_Story_Mania.csv'
uri_08 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Slinky_Dog_Dash.csv'
uri_09 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Alien_Saucers.csv'
uri_10 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Kilimanjaro_Safari.csv'
uri_11 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Dinosaur.csv'
uri_12 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Expedition_Everest.csv'
uri_13 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Avatar_Flight_of_Passage.csv'
uri_14 = 'https://raw.githubusercontent.com/LuisFTacla/WDW_Attendance_Calculator/main/Datasets/Rides/Navi_River.csv'

# LENDO ARQUIVOS
mk_01 = pd.read_csv(uri_01)
mk_02 = pd.read_csv(uri_02)
mk_03 = pd.read_csv(uri_03)
ep_01 = pd.read_csv(uri_04)
ep_02 = pd.read_csv(uri_05)
hs_01 = pd.read_csv(uri_06)
hs_02 = pd.read_csv(uri_07)
hs_03 = pd.read_csv(uri_08)
hs_04 = pd.read_csv(uri_09)
ak_01 = pd.read_csv(uri_10)
ak_02 = pd.read_csv(uri_11)
ak_03 = pd.read_csv(uri_12)
ak_04 = pd.read_csv(uri_13)
ak_05 = pd.read_csv(uri_14)

nome_das_atracoes = {1: 'Splash Mountain',
                     2: 'Pirates of Caribbean',
                     3: 'Seven Dwarfs Mine Train',
                     4: 'Soarin',
                     5: 'Spaceship Earth',
                     6: 'Rock n Roller Coaster',
                     7: 'Slinky Dog Dash',
                     8: 'Alien Saucers',
                     9: 'Toy Story Mania',
                     10: 'Kilimanjaro Safari',
                     11: 'Dinosaur',
                     12: 'Expedition Everest',
                     13: 'Avatar: Flight of Passage',
                     14: 'Navi River'}

datasets_das_atracoes = {1: mk_01,
                         2: mk_02,
                         3: mk_03,
                         4: ep_01,
                         5: ep_02,
                         6: hs_01,
                         7: hs_02,
                         8: hs_03,
                         9: hs_04,
                         10: ak_01,
                         11: ak_02,
                         12: ak_03,
                         13: ak_04,
                         14: ak_05}

# CONVERTENDO COLUNA DATA_E_HORA DE STRING PARA DATETIME
def to_datetime(dados):
  dados['data_e_hora'] = pd.to_datetime(dados['data_e_hora'])
  return dados

for i in range(1,15):
  to_datetime(datasets_das_atracoes[i])

In [14]:
hs_01

               data_e_hora  tempo_de_fila
0      2015-01-01 00:00:00            0.0
1      2015-01-01 00:05:00            0.0
2      2015-01-01 00:10:00            0.0
3      2015-01-01 00:15:00            0.0
4      2015-01-01 00:20:00            0.0
...                    ...            ...
525883 2019-12-31 23:35:00           23.0
525884 2019-12-31 23:40:00           12.0
525885 2019-12-31 23:45:00            0.0
525886 2019-12-31 23:50:00            0.0
525887 2019-12-31 23:55:00            0.0

[525888 rows x 2 columns]

In [15]:
type(hs_01['data_e_hora'][4])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
    days = int(input('Quandos dias gostaria de analisar?'))
    for days in range(0, days):
      ride = int(input('Escolha uma atraÃ§Ã£o para analizar'))
      print('VocÃª escolheu a atraÃ§Ã£o {}'.format(nome_das_atracoes[ride]))
      print('Escolha uma data entre 01/01/2015 e 31/12/2019: ')
      d = int(input('Dia: '))
      m = int(input('MÃªs: '))
      y = int(input('Ano: '))
      data_escolhida = datetime(y, m, d)
      dia_seguinte = data_escolhida + timedelta(days=1)
      fig = plt.figure(figsize = (15,8))
      eixo = fig.add_axes([0, 0, 1, 1])
      eixo.plot(datasets_das_atracoes_3[ride]['data_e_hora'], datasets_das_atracoes_3[ride]['tempo_de_fila'], color = 'g')

      eixo.set_xlim(data_escolhida,dia_seguinte)
      eixo.set_title('{} - {}/{}/{}'.format(nome_das_atracoes[ride] , d, m, y), fontsize = 25)
      eixo.set_ylabel('Tempo de fila (minutos)', fontsize = 20)
      eixo.set_xlabel('HorÃ¡rio', fontsize = 20)
      eixo.legend(['tempo_de_fila'], loc = 'upper right', fontsize = 15)